/**
 * Trace Elements
 * This plugin adds the ability to toggle a trace on all parent block-level
 * elements with an outline and display their element name.
 * 
 * @author: Anthony Mineo
 * @url: https://anthonymineo.com
 * @twitter: @Mineo27
 */


.re-traceelements.active {
  background-color: #3d79f2;
  color: #fff;
}

.redactor-trace.redactor-layer.redactor-in > * {
    border: dotted 1px #ffb7b2;
    position: relative;
    padding: 0.5em;
    position: relative;
}

.redactor-trace.redactor-layer.redactor-in > *:after {
  position:absolute;
  top:-6px;
  left:2px;
  padding:0 2px;
  line-height:1;
  background-color:#fff;
  font-size:10px;
  font-style:italic;
}

/* Below are elements that will be traced */
.redactor-trace.redactor-layer.redactor-in > div:after { content:'div'; }
.redactor-trace.redactor-layer.redactor-in > br:after { content:'br'; }
.redactor-trace.redactor-layer.redactor-in > p:after { content:'p'; }
.redactor-trace.redactor-layer.redactor-in > blockquote:after { content:'blockquote'; }
.redactor-trace.redactor-layer.redactor-in > h1:after {content:'h1';}
.redactor-trace.redactor-layer.redactor-in > h2:after {content:'h2';}
.redactor-trace.redactor-layer.redactor-in > h3:after {content:'h3';}
.redactor-trace.redactor-layer.redactor-in > h4:after {content:'h4';}
.redactor-trace.redactor-layer.redactor-in > h5:after {content:'h5';}
.redactor-trace.redactor-layer.redactor-in > h6:after {content:'h6';}
.redactor-trace.redactor-layer.redactor-in > ul:after {content:'ul';}
.redactor-trace.redactor-layer.redactor-in > ol:after {content:'ol';}
.redactor-trace.redactor-layer.redactor-in > pre:after {content:'pre'; top:1px;}